# Setting file
# ===================
/Scripts
/Lib
/Include
/share
/Library
/.vscode/**
**/setting.*
/.vscode/setting.json
**/.venv/**
**/__pycache__/**
**/node_modules/**
**/.next/**
**/log/**
**/excel/temp/**

# Backend
# ===================
/Backend/images/**
**/*.png

# LLM
# ===================
*.gguf

# Files
# ===================
pyvenv.cfg
*.pyc
*.pdf

# Testing file
# ===================
docker-compose.yaml
test/**
test.*
*.log
*.docx
.env